<div id="app">
  <h2>{{message}}, hello world</h2>
  <span v:bind="message">
    鼠标悬停查看信息
  </span>
  <button v-on:click="counter += 1">+1</button>
  <p>上面的按钮已经被点击{{counter}}次</p>
  <button v-on:click="greet">Greet</button>
  <p v-if="seen">现在你能看到我了</p>
  <div>
    <ol>
      <li v-for="todo in todos">
        {{todo.text}}
      </li>
    </ol>
  </div>
  <ol>
    <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
  </ol>
  <button v-on:click="say('hi')">Say hi</button>
  <button v-on:click="warn('warn yet!!', $event)"></button>
  <!-- <button-counter></button-counter> -->
  <div>
    <router-link to="/foo">click to foo</router-link>
    <router-link to="/bar">click to bar</router-link>
    <router-link to="/button">click to button</router-link>
  </div>

  <input v-model="message" placeholder="edit me" >
  <p>Message is: {{ message }}</p>
  <div class="example-2">
    <input type="checkbox" id="jack" value="jack" v-model="checkedNames">
    <label for="jack"></label>
    <input type="checkbox" id="john" value="john" v-model="checkedNames">
    <label for="john"></label>
    <input type="checkbox" id="mike" value="mike" v-model="checkedNames">
    <label for="mike"></label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
  </div>
  <input v-model="">
  <router-view></router-view>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>
  const Bar = { props: ['count'],template: '<p>这是第二个页面{{count}}</p>' }
  const Foo = { template: '<p>这是第一个页面</p>' } 
  const button_counter = {
    data: function() {
      return {
        count: 0
      }
    },
    template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
  }
  //注册组件
  Vue.component('todo-item', {
    props: ['todo'],
    template: `<li>{{todo.text}}</li>`
  })
  // Vue.component('button_counter', {
  //   data: function () {
  //     return {
  //       count: 0
  //     }
  //   },
  //   template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
  // })
  const routes = [
    {path: '/foo', component: Foo},
    {path: '/bar', component: Bar},
    {path: '/button', component: button_counter}
  ]
  const router = new VueRouter({
    routes
  })
  // const routes = {
  //   '/': Home,
  //   '/about': About
  // }

  
  var app = new Vue({
    // el: '#app',
    data: {
      message: 'yuxuan',
      checkedNames: [],
      seen: true,
      counter: 0,
      todos: [{
        text: '学习js'
      }, {
        text: '学习vue'
      }, {
        text: '学习code'
      }],
      groceryList: [{
        id: 0,
        text: '菠菜'
      }, {
        id: 1,
        text: '奶酪'
      }, {
        id: 2,
        text: '其他随便什么东西'
      }]
    },
    methods: {
      greet: function(event) {
        alert('hello' + this.message + '!')
        if(event){
          alert(event.target.tagName)
        }
      },
      say: function(message) {
        alert(message)
      },
      warn: function(message, event) {
        if(event){
          event.preventDefault()
          alert(message)
        }
      }
    },
    compute: {
      reversedMessage: function(){
        return this.message.split('').reverse().join('')
      }
    },
    router 
  }).$mount('#app');
  
</script>