<div id="app">
  <h2>{{message}}, hello world</h2>
  <span v:bind="message">
    鼠标悬停查看信息
  </span>
  <button v-on:click="counter += 1">+1</button>
  <p>上面的按钮已经被点击{{counter}}次</p>
  <button v-on:click="greet">Greet</button>
  <p v-if="seen">现在你能看到我了</p>
  <div>
    <ol>
      <li v-for="todo in todos">
        {{todo.text}}
      </li>
    </ol>
  </div>
  <!-- <button-counter></button-counter> -->
  <div>
    <router-link to="/foo">click to foo</router-link>
    <router-link to="/bar">click to bar</router-link>
    <router-link to="/button">click to button</router-link>
  </div>
  <router-view></router-view>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>
  const Bar = { props: ['count'],template: '<p>这是第二个页面{{count}}</p>' }
  const Foo = { template: '<p>这是第一个页面</p>' } 
  const button_counter = {
    data: function() {
      return {
        count: 0
      }
    },
    template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
  }
  //注册组件
  // Vue.component('button_counter', {
  //   data: function () {
  //     return {
  //       count: 0
  //     }
  //   },
  //   template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
  // })
  const routes = [
    {path: '/foo', component: Foo},
    {path: '/bar', component: Bar},
    {path: '/button', component: button_counter}
  ]
  const router = new VueRouter({
    routes
  })
  // const routes = {
  //   '/': Home,
  //   '/about': About
  // }

  
  var app = new Vue({
    // el: '#app',
    data: {
      message: 'yuxuan',
      seen: true,
      counter: 0,
      todos: [{
        text: '学习js'
      }, {
        text: '学习vue'
      }, {
        text: '学习code'
      }]
    },
    methods: {
      greet: function(event) {
        alert('hello' + this.message + '!')
        if(event){
          alert(event.target.tagName)
        }
      }
    },
    router 
  }).$mount('#app');
  
</script>